.contIngresar {
    display: flex;
    gap: 10px; /* Espacio entre los inputs */
    padding: 10px;
    border-radius: 9px;
  }
  
  input {
    width: 50px;
    height: 50px;
    text-align: center; /* Texto centrado */
    font-size: 24px;    /* Tamaño de texto grande */
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  input:focus {
    outline: none;
    border-color: #007bff;
  }
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  .conBtn{
    display: flex;
    justify-content: center;
    margin: 15px;
  }
  /* Media Queries para celulares */
@media (max-width: 600px) {
  .contIngresar {
      flex-direction:row; /* Cambiar a columna en móviles */
      align-items: center; /* Centrar los elementos */
      padding: 5px; /* Ajustar padding en móviles */
      flex-wrap: wrap;
      justify-content: center;
  }
  
  input {
      width: 40px; /* Reducir ancho de los inputs */
      height: 40px; /* Reducir alto de los inputs */
      font-size: 20px; /* Ajustar tamaño de texto */
  }
  
  .button {
      padding: 8px 16px; /* Ajustar tamaño del botón */
      font-size: 14px; /* Ajustar tamaño de fuente del botón */
  }
  
  .conBtn {
      margin: 10px; /* Ajustar margen en móviles */
  }
}
