.waveContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.svgWave {
  position: absolute;
  bottom: 0;
  width: 300%; /* El ancho es el doble para crear el efecto de bucle continuo */
  height: 100vh;
}

.wave1, .wave2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%; /* El ancho es el doble del viewport para permitir el desplazamiento continuo */
  height: 100%;
}

.wave1 {
  animation: moveWave 1s linear infinite; /* Animación continua */
}

.wave2 {
  animation: moveWave 1s linear infinite reverse; /* Onda inversa para efecto de superposición */
  opacity: 0.5; /* Onda más tenue */
}

@keyframes moveWave {
  0% {
    transform: translateX(0); /* Comienza en la posición original */
  }
  100% {
    transform: translateX(-50%); /* Se desplaza hasta la mitad de su ancho, creando el bucle */
  }
}
