.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
  }
  
  .contColor {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    border: black solid 1px;
    border-radius: 29px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  /* Media Queries para celulares */
@media (max-width: 600px) {
  .container {
      padding-bottom: 10px; /* Ajustar padding en móviles */
  }
  
  .contColor {
      width: 150px; /* Reducir ancho para pantallas pequeñas */
      height: 150px; /* Reducir alto para pantallas pequeñas */
      font-size: 14px; /* Ajustar tamaño de fuente */
      margin-bottom: 15px; /* Reducir margen inferior */
  }
  
  .button {
      padding: 8px 16px; /* Ajustar tamaño del botón */
      font-size: 14px; /* Ajustar tamaño de fuente del botón */
  }
}
