

body {
  margin: 0;
  padding: 0rem;
}
/* BackgroundWave.module.css */
.waveContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg, #0a0a0a, #1e1e1e, #222);
  opacity: 0.8;
  transform: translateX(-50%);
  animation: waveAnimation 15s infinite linear;
}

.wave:nth-child(2) {
  background: linear-gradient(90deg, #1b1b1b, #0f0f0f, #151515);
  opacity: 0.6;
  animation: waveAnimation 20s infinite linear reverse;
}

@keyframes waveAnimation {
  0% {
      transform: translateX(-50%);
  }
  100% {
      transform: translateX(0%);
  }
}

